doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    script(src="/socket.io/socket.io.js")  // Add this line to include Socket.io client script
  body
    h1= title
    .chat-container
      #messages
      .message-box
        input#chat-input(type="text", placeholder="Type a message...")
        button#send-btn Send
    .emoji-container
      button.emoji-btn(id="smiley") 😊
      button.emoji-btn(id="fire") 🔥
      button.emoji-btn(id="gun") 🔫
    script(src="/js/chat.js")  // Your custom chat script that uses 'io'
